*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0 solid;
    font-family: inherit;
}

html {
    text-size-adjust: none;
}

head {
    display: none;
}

body {
    display: block;
    min-height: 100vh;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0.5rem;
    font-weight: bold;
    line-height: 1.25;
    overflow-wrap: break-word;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2.0rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.50rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1.00rem;
}

p {
    margin-bottom: 1rem;
    font-size: 1rem;
    overflow-wrap: break-word;
}

a {
    text-decoration: none;
}

b,
strong {
    font-weight: bold;
}

i,
em {
    font-style: italic;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}
