*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0 solid;
    font-family: inherit;
}

head {
    display: none;
}

body {
    display: block;
    min-height: 100vh;
    line-height: 1.5;
}
